[Unit]
Description=Run System Maintenance Daily at 3 AM
Requires=system-maintenance.service

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
